body {
    background-color: var(--background-dark);
    display: flex;
    justify-content: center;
    font-family: "Clear Sans", Helvetica, serif;
}

h1 {
    font-size: 80px;
    line-height: 0.7;
    color: var(--text-color-neon);
    margin: 0;
}
h2,
p {
    margin: 0;
    color: var(--playcard-border);
}
.container {
    width: 468px;
    margin-top: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: var(--play-card-color);
    border: 7px solid var(--playcard-border);
    border-radius: 6px;
    margin-top: 20px;
}

.grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: var(--background-dark);
    color: var(--number-color);
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
}

.score-container {
    text-align: center;
    width: 70px;
    height: 60px;
    padding-top: 5px;
    border-radius: 3px;
    border: 2px solid var(--score-color);
    background-color: var(--score-container);
    color: var(--score-color);
}
#score {
    font-size: 30px;
}
.score-title {
    font-size: 16px;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#new-game {
    border-radius: 20px;
    background-color: var(--score-color);
    color: var(--playcard-border);
    padding: 10px 10px;
    margin: 10px 5px;
    font-weight: bold;
    font-size: 16px;
}

:root {
    /* Background and text colors */
    --background-dark: #1a1a1a;
    --text-color-neon: #00ffcc;
    --play-card-color: #222222;
    --playcard-border: #ff007f;
    --score-container: #333333;
    --score-color: #00ffcc;
    --number-color: #0e0d0d;

    /* Neon tile colors */
    --1: #00ffaa;
    --2: #ff007f;
    --3: #ffcc00;
    --4: #ff5733;
    --5: #ff33ff;
    --6: #33ffcc;
    --7: #ff5050;
    --8: #ffcc33;
    --9: #aaff00;
    --10: #66ff66;
    --11: #33ccff;
    --12: #9933ff;
}
